{% extends 'components/filter_list_layout.html' %}

{% block title %}Customers{% endblock %}

{% block page_header %}
<div class="d-flex justify-content-between align-items-center mb-2">
    <div>
        <h2>Customers</h2>
        <p>Welcome to your customers page!</p>
    </div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCustomerModal">Add Customer</button>
</div>
{% include 'components/customers_add_modal.html' %}
{% endblock %}

{% block filter_form %}
    {% include 'components/customers_filter_form.html' %}
{% endblock %}

{% block list_table %}
    {% include 'components/customers_list_table.html' %}
{% endblock %}
